// _basics.sass
// basic styles for kiosk applications
// sass constants are in constants.sass!
// Last updated: LK, 30.X.2018

@import "very_basics"

//Some standards for pretty-checkbox so that they don't look so flimsy.
.pretty
  *
    line-height: 1em
.pretty .state label:before,
.pretty .state label:after
  border-width: 2px
  //top: auto
//.pretty.p-icon .state .icon:before
//  top: auto



@mixin ifscreen($param)
  @media screen and (max-width: $param)
    @content

*
  padding: 0px 0px 0px 0px
  margin: 0px 0px 0px 0px
////-webkit-user-select: none  // Chrome all / Safari all
//-moz-user-select: none     // Firefox all
//-ms-user-select: none      // IE 10+
////user-select: none          // Likely future

*:not(textarea)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

html
  font-family: $standard-text
  font-size: $font-size-standard
  line-height: $line-height-std
body
  height: 100%
  width: 100%
  a
    text-decoration: none


#outer-wrapper
  position: absolute
  display: flex
  height: 100vh
  width: 100vw
  flex-flow: column
  flex-wrap: nowrap

.content
  position: relative
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 1em
  //background: linear-gradient(-45deg, rgba(#88aa00, 0.43), #88AA00)
  overflow-x: auto
  overflow-y: auto
  flex-grow: 1

  @media #{$screen-max-500}
    margin-left: 0px
    margin-right: 0px

.footer
  display: none
  background-color: $col-bg-body
  height: 10px


.dlg-spinner-wrapper
  display: flex
  flex-direction: column
  justify-content: center

.kiosk-header-info
  position: absolute
  background: $col-bg-kiosk-version
  color: $col-primary-bg-2
  text-align: right
  z-index: 100
  padding-left: 1em
  padding-right: .5em
  font-size: $font-size-small
  font-stretch: ultra-expanded
  display: flex
  flex-direction: row
  @media #{$screen-phone-portrait}
    line-height: 1em
    font-size: .5em
    padding: 2px 2px 2px 2px
    right: 0px
    margin-right: auto
  span
    margin-left: .5em
    margin-right: .5em

  .kiosk-sys-info
    opacity: .8
.kiosk-version
  white-space: nowrap
.emergency-system-message
  background: $col-bg-att
  color: $col-primary-bg-att
  padding: 1em
  border: 2px solid black
  p:first-child
    font-weight: bold

