body
  height: 100%
  width: calc(100% - 4rem)
  box-sizing: border-box
  margin: 0 2rem 0 2rem

#logo
  #img.full-height
    max-height: unset
    max-width: unset

#pk-header, #pk-main-title
  display: grid
  width: 100%
  place-items: center

i
  margin-right: .5em
  color: var(--col-warning-bg-body)

#pk-header
  margin: 50px 0 0 0

#pk-main-title
  margin-top: 25px

.pk-content
  display: flex
  flex-direction: column
  place-items: center

  .pk-content-inner
    display: flex
    flex-direction: column
    align-items: stretch

.pk-instruction-text
  line-height: 150%
  text-align: justify
  max-width: 60rem
  margin-top: 1rem

h2
  margin-top: 1em

ol
  padding: 0
  list-style-position: outside
  margin-left: 1em

  li
    margin-top: .25em

.os-section
  margin-top: 1em

.os-section-header
  font-size: $font-size-h3






