@import "constants"

#mfp-user-time-zone-dialog
  //padding-bottom: 2em
  min-width: 400px

  kiosk-tz-combo-box
    display: block
    width: calc(100% - 1em)

#popup-tz-combo-box
  margin-left: 1.5em

.mtz-client-tz

  font-family: $standard-text
  font-size: $font-size-standard
  margin-bottom: .5em
  margin-left: 1.5em
