/.pytest_cache/
/include/
/custom/
/Lib/
/man/
/Scripts/
/tcl/
*.ps1
/pip-self*.*
*.dmp
*.zip
old_*/
**/file_repository/
**/filemaker/
**/__pycache__/
*.fmp*
*.log
*.dsn
*.dmp
*reset.yml
**/log/
**/.*cache/
**/venv*/
**/.idea/
**/screenshots/
**/venv_*/
/urap_repl/
/*.txt
/*.json
/*.ps1
requirements*.txt
*.tmp