[submodule "kiosk/plugins/logviewerplugin"]
	path = kiosk/plugins/logviewerplugin
	url = https://github.com/arch-kiosk/logviewerplugin.git
[submodule "kiosk/sync/sync/tools/ustp_ceramics_import"]
	path = kiosk/sync/sync/tools/ustp_ceramics_import
	url = https://github.com/arch-kiosk/ustp_ceramics_import.git
[submodule "kiosk/plugins/pointrepositoryplugin"]
	path = kiosk/plugins/pointrepositoryplugin
	url = https://github.com/arch-kiosk/pointrepositoryplugin.git
[submodule "kiosk/plugins/pwastresstestplugin"]
	path = kiosk/plugins/pwastresstestplugin
	url = https://github.com/arch-kiosk/pwastresstestplugin.git
[submodule "kiosk/plugins/hmlabplugin"]
	path = kiosk/plugins/hmlabplugin
	url = https://github.com/arch-kiosk/hmlabplugin.git
[submodule "kiosk/sync/sync/sync_plugins/buap_ancdb_bridge"]
	path = kiosk/sync/sync/sync_plugins/buap_ancdb_bridge
	url = https://github.com/arch-kiosk/buap_ancdb_bridge.git
[submodule "kiosk/sync/sync/sync_plugins/rliim_kiosk_bridge"]
	path = kiosk/sync/sync/sync_plugins/rliim_kiosk_bridge
	url = https://github.com/arch-kiosk/rliim_kiosk_bridge.git
