apispec
apispec-flask-restful
blinker
blessed
Flask
Flask-Admin
flask-allows
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-HTTPAuth
Flask-Cors
Flask-RESTful
flask-swagger-ui
Jinja2
numpy
jedi
matplotlib
nose
olefile
parse
passlib
piexif
Pillow
psycopg2
pyodbc
pypiwin32
pytest-regressions
python-language-server
pyzbar
rawpy
rope
redis
svgutils
Wand
opencv-contrib-python
yappi
igraph
wfastcgi
python-redis-lock
WTForms
SQLAlchemy
psutil
nanoid
apispec
marshmallow
openpyxl
semantic-version
pdfrw2
netifaces
flake8
yappi==del
webapp-core==del
