/static/static/
/static/awesom*/
/static/bourbon/
reporting
/.*cache*
*.dmp
*.out
/temp/
*.css.map
*.pstat
*.zip
*.tar.gz
callgrind*.*
/plugins/syncmanagerplugin/app/src/pattern.css-master/
/static/scripts/thirdparty/circular-progress-bar-master/
/designtool/
/export
/config/history
.env.development.local
kiosk_secure.yml
**/file_repository/
**/filemaker/
**/__pycache__/
*.fmp*
*.log
*.dsn
*.dmp
*.crt
*.key
*reset.yml
**/log/
**/.*cache/
**/venv*/
**/.idea/
**/screenshots/
**/venv_*/
**/node_modules/
/urap_repl/
backup.reminder
/config/kiosk_local_config.yml
/.run/
/static/styles.css
